---
import BlogLayout from "@/layouts/BlogLayout.astro";

export const frontmatter = {
  title: "template",
};
---

<BlogLayout title={frontmatter.title} headerTitle={frontmatter.title}>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure aut optio impedit
    rerum, maiores ullam possimus minus repellat tempora numquam dolorem quaerat,
    repudiandae dolore doloribus accusamus nostrum quod, in laboriosam.
  </p>
</BlogLayout>
