---
import BlogLayout from "@/layouts/BlogLayout.astro";
import ProjectCard from "@/components/blog/2023-retro/ProjectCard.astro";
import Chart from "@/components/blog/2023-retro/Chart.svelte";

export const frontmatter = {
  title: "2023 Retrospective",
};
---

<BlogLayout
  title={frontmatter.title}
  description="มาสรุปกันว่าปี 2023 ของเราเป็นยังไงบ้าง"
  ogPath="/blog/2023-retro/og.jpg"
  lang="th-TH"
  date="2024-01-14T00:00:00.000Z"
  headerTitle="2023 Retrospective"
  headerBackground="/blog/2023-retro/header-back.webp"
  headerForeground="/blog/2023-retro/header-front.webp"
  fullHeaderFg
  reversed
>
  <p>
    ปี 2023 ถือว่าเป็นปีหนึ่งที่ค่อนข้างหนักหน่วงสำหรับเรา เป็นปีที่ได้เรียนรู้อะไรหลายๆ
    อย่าง และทำให้เรามีแนวคิดที่ปรับเปลี่ยนไปในหลายๆ ด้านมากขึ้น
    เดี๋ยวเราไปดูสรุปทีละด้านกันก่อน แล้วมาสรุปกันตอนท้ายกัน 👇
  </p>
  <section>
    <h2 class="mb-8">💼 การงาน</h2>
    <p class="mb-16">
      ปีนี้ทำงานที่ Punch Up ครบ 1 ปี ทำงานไปทั้งหมด 6 โปรเจกต์หลัก 4 โปรเจกต์ย่อย
      ซึ่งในระยะการทำงานของปีนี้มีเหตุการณ์หลายๆ
      อย่างเกิดขึ้นในชีวิตการทำงานที่ทำให้เราได้เรียนรู้ ได้เสียใจ และได้เติบโตไปอีกขั้น
    </p>
    <div class="mb-16 flex flex-col gap-16 md:flex-row">
      <div class="md:flex-[2_2_0]">
        <h3>4 Punch Up projects:</h3>
        <div class="grid grid-cols-1 gap-16 md:grid-cols-2">
          <ProjectCard
            month="NOV"
            og="http://schoolgov.actai.co/og.png"
            title="โรงเรียนโปร่งใส"
            fw="SvelteKit"
            url="https://schoolgov.actai.co/"
          />
          <ProjectCard
            month="FEB"
            og="https://thevisual.thaipbs.or.th/projects/HomeAndHope/og.png"
            title="Home & Hope"
            fw="SolidStart"
            url="https://thevisual.thaipbs.or.th/HomeAndHope"
          />
          <ProjectCard
            month="JUN"
            og="https://poldata.actai.co/og.png"
            title="ACT Ai Politics Data"
            fw="NextJS"
            url="https://poldata.actai.co/"
          />
          <ProjectCard
            month="OCT"
            og="https://theactive.net/dataviz/taxation/og.jpg"
            title="Taxation"
            fw="SvelteKit"
            url="https://theactive.net/dataviz/taxation/"
          />
        </div>
      </div>
      <hr class="hidden h-auto w-1 border-r border-t-0 border-r-gray-500 md:block" />
      <div class="flex flex-1 flex-col">
        <h3>2 WeVis projects:</h3>
        <div class="flex flex-col gap-16">
          <ProjectCard
            month="SEP"
            og="https://wevis.info/law-watch/og.png"
            title="Law Watch"
            fw="SvelteKit"
            url="https://wevis.info/law-watch"
          />
          <ProjectCard
            month="MAR"
            og="https://wevis.info/senate/og.png"
            title="Senate"
            fw="Qwik"
            url="https://wevis.info/senate"
          />
        </div>
      </div>
    </div>
    <div class="mb-16">
      <h3 class="mb-8">4 minor projects</h3>
      <div class="flex flex-col gap-16 md:flex-row">
        <ProjectCard
          og="https://theyworkforus.wevis.info/seo/share/default.png"
          title="They Work For Us"
          url="https://theyworkforus.wevis.info/"
        />
        <ProjectCard
          og="https://parliament-watch.pages.dev/images/og.png"
          title="Parliament Watch"
          url="https://parliamentwatch.wevis.info/"
        />
        <ul class="flex-1">
          <li>📐 WeVis Design System</li>
          <li>🧀 Cheesy Migration</li>
        </ul>
      </div>
    </div>
    <p class="mb-16">
      สิ่งที่แชร์ได้จากประสบการณ์ทำงาน 1 ปี คือ <strong>การสื่อสารสำคัญมาก</strong> เน้นว่าการสื่อสารคือการสื่อสารแบบสื่อสารจริงๆ
      เราอาจจะคิดว่า ตอนอยู่มหาลัยฯ เรานำเสนองาน คุยกับเพื่อน ทำงานกับเพื่อนต่างภาค แสดงว่าชั้นต้องมี
      communication skill ที่ดีแน่นอน แต่ในการทำงานจริงๆ ที่ที่คนร่วมงานไม่ใช่เพื่อนของเรา
      คนที่เราอาจจะไม่สนิท แก่กว่า เด็กกว่า เป็นหัวหน้า เป็นประธานบริษัท เป็นลูกค้า การจะพูดบอกอะไรบางอย่างมันจะมีกำแพงกั้นอยู่
      หรืออาจจะมี doubt ว่า "ควรจะพูดดีไหมนะ?" ซึ่งแน่นอนว่าความสนิทหรือความ "พูดได้" นั้น
      เป็นสิ่งที่ต้องดูเชิงกันในระยะหนึ่ง แต่ถ้าในเชิงการทำงานแล้ว เราคิดว่า ขอให้มั่นใจในการสื่อสารของเรา
      โดยเฉพาะถ้ามันเป็นในเรื่องของงานหรือประโยชน์โดยรวม พูดออกมาอย่างตรงไปตรงมาเลย จะดีที่สุด
    </p>
    <h3 class="mb-8">Visualization ที่ชอบที่สุด</h3>
    <div class="flex flex-col gap-16 md:flex-row">
      <figure class="min-w-0 flex-1">
        <img
          class="h-auto w-full"
          src="/blog/2023-retro/law-watch.png"
          alt=""
          loading="lazy"
          decoding="async"
        />
        <figcaption class="mt-4 text-sm">
          ข้อมูลกฎหมายเป็นข้อมูลที่ค่อนข้างมีมิติที่มาก (เช่น ปัดตก/อยู่ในกระบวนการ/ผ่าน
          หรือประเภท) ซึ่ง Chart นี้สามารถ visualize
          ออกมาได้ในทุกมิติที่โปรเจกต์สนใจได้อย่างเป็นระเบียบ สวยงาม
        </figcaption>
      </figure>
      <figure class="min-w-0 flex-1">
        <img
          class="h-auto w-full"
          src="/blog/2023-retro/home-and-hope.png"
          alt=""
          loading="lazy"
          decoding="async"
        />
        <figcaption class="mt-4 text-sm">
          จุดที่ชอบที่สุดคือการ visualize ว่า พื้นที่ขนาด x
          ตารางเมตรนั้นใหญ่แค่ไหนโดยการเปรียบเทียบกับขนาดเตียงนอน
          ซึ่งช่วยให้เราทราบขนาดโดยคร่าวได้โดยไม่จำเป็นที่จะต้องกะจากภาพถ่าย
        </figcaption>
      </figure>
    </div>
  </section>
  <section>
    <h2 class="mb-16">🏝 ชีวิต</h2>
    <Chart client:idle />
    <p class="mb-16 mt-[24px] md:mt-0">
      ในเดือนที่ 6 กับ 12 เราทำ <a
        href="https://github.com/kepano/40-questions"
        target="_blank"
        rel="nofollow noopener noreferrer">40 questions to ask yourself each year</a
      > ซึ่งจริงๆ ตามชื่อมันคือรายปีเนอะ แต่ปีที่แล้วทำแล้วปรากฏว่าเราลืมตัวตนของตัวเองตอนครึ่งปีแรกไปหมดเลย
      ปีนี้ก็เลยลองทำ 2 ครั้งดู เราพบว่าปีนี้มุมมองการใช้ชีวิตของเราเปลี่ยนแปลงไปตลอด ซึ่งก็ค่อนข้างที่จะสะท้อนชีวิตในปี
      2023 ที่ค่อนข้างจะผันผวนไปแทบจะทุกๆ เดือน สิ่งที่รู้สึก glad กับตัวเองคือการที่เรามี
      self-awareness ค่อนข้างสูง แต่ก็ต้องเรียนรู้ที่จะ respect ตัวเองและรักตัวเองให้มากขึ้นด้วย
      ถ้าให้พูดตามความจริงตอนนี้ก็ยังอยู่ในช่วง coping ตัวเองจากเหตุการณ์ไม่คาดฝันจากการทำงานอยู่
      มันไม่ได้แย่ แต่มันก็ไม่ได้ดี บางครั้งก็ใช้ชีวิตด้วยความรู้สึกแบบปริ่มน้ำ แต่ในใจยังมีความหวังอยู่ว่าวันข้างหน้ามันจะดีขึ้น
      ถึงแม้ว่าใจเราจะสลาย แต่ก็ขอบคุณทุกคนที่สะดวกใจที่จะรอให้เราสร้างตัวเองขึ้นมาใหม่อีกครั้ง
    </p>
  </section>
  <section>
    <h2 class="mb-16">🏆 เป้าหมายในชีวิต</h2>
    <div class="flex flex-col gap-16 md:flex-row">
      <img
        class="h-auto w-full max-w-[400px]"
        src="/blog/2023-retro/goal.svg"
        alt=""
        width="280"
        height="260"
        loading="lazy"
        decoding="async"
      />
      <div class="flex flex-col gap-16">
        <p>
          การเขียนเป้าหมายในชีวิตของเรามันเริ่มมาจากปี 2022 ที่เรารู้สึกสับสนกับชีวิต
          และเริ่มตั้งคำถามว่าเรามีชีวิตอยู่ไปเพื่ออะไร ตอนนั้นเราเลยพยายามเขียน
          "เป้าหมายในชีวิต" ขึ้นมาในแบบว่า "ถ้ายังทำไม่ครบ ยังตายไม่ได้"
          (แต่ถ้าวันไหนทำครบแล้ว เดี๋ยวค่อยว่ากันอีกที) ปี 2023
          ก็เลยเป็นปีแรกที่เราได้ลองหยิบ Life Goal บางอย่างมาเริ่มทำ +
          เขียนเพิ่มเติมไปอีกว่า เออ เราอยากทำอะไรในปีนั้นๆ บ้าง
          พอมันเป็นครั้งแรกที่เราเขียน Goal แบบนี้ เราก็เลยเน้นเขียน "สิ่งที่อยากทำ"
          ซะมากกว่า
        </p>
        <p>
          พอเราเริ่มทำ Goal ต่างๆ ไปได้สักครึ่งปี เราก็เริ่มตกผลึกได้ว่า จริงๆ แล้ว Goal
          บางอย่างที่เราเขียน มันไม่ได้มี impact อะไรกับชีวิตเราขนาดนั้นอะ แบบ
          บางอย่างมันแค่ ทำแล้วจบไปเฉยๆ แต่ไม่ได้มีประโยชน์อะไรระยะยาว
          ก็เลยจะมีของที่เลิกทำซะเยอะ — เอาเป็นว่า มาดูกันว่าปีนี้จะทำให้ครบไหม 55555
        </p>
      </div>
    </div>
  </section>
  <h2>คุยกันปิดท้าย</h2>
  <p>
    โดยรวมก็คิดว่าเป็นปีที่ไม่ได้ดี แต่ไม่ได้แย่ ถ้าตีระดับก็คงจะเป็น 4–5/10
    ในด้านความสุขมันก็มีขึ้นๆ ลงๆ เราก็พยายามพยุงตัวเองไปให้มากที่สุด พยายาม respect
    ความรู้สึกตัวเองให้มากขึ้น ideology ของเราเองก็เปลี่ยนไปเยอะและบ่อยมากๆ แบบทุกๆ 2
    เดือน ideology เราก็เปลี่ยนไปใหม่อีกแล้ว อาจจะด้วยเหตุการณ์ต่างๆ
    ที่เกิดขึ้นและมากระทบจิตใจ ทำให้มุมมองชีวิตมันเปลี่ยนไป
  </p>
  <p>
    สิ่งหนึ่งที่พิมพ์มาถึงตรงนี้แล้วนึกขึ้นได้คือ อยากขอบคุณตัวเองที่เปิดรับสิ่งใหม่ๆ
    และออกไปทำอะไรที่ไม่คิดว่าจะทำมากขึ้น เช่น การออกไปเที่ยว (เพราะปกติไม่เที่ยวเลย)
    เป็นต้น ปีหน้าอยากให้ตัวเองเป็นผู้ใหญ่ที่สุขุมและใจเย็นลงมากกว่านี้
    และอยากกลับมาเป็นคนที่ Listen More อีกครั้ง เพราะช่วงหลังๆ
    ตัวเองชอบพูดทับคนอื่นแบบไม่รู้ตัว ก็อยากจะแก้อันนี้ให้ได้
  </p>
  <p>
    ยังไงก็ขอบคุณทุกคนที่ยังอยู่ข้างมูมู่มาตลอด
    อดทนรอให้มูมู่ได้เรียนรู้ที่จะล้มแล้วลุกด้วยตนเองจริงๆ สุดท้ายนี้ ขอให้ปี 2024
    นี้เป็นปีที่ดีของทุกคน และได้ทำสิ่งใหม่ๆ สร้างคุณค่าใหม่ๆ ให้กับชีวิตของตัวเอง
    สวัสดีจ้า
  </p>
</BlogLayout>
