@font-face {
  font-family: "Space Grotesk Variable";
  src: url(./fonts/SpaceGrotesk[wght].woff2) format("woff2-variations"),
    url(./fonts/SpaceGrotesk[wght].ttf) format("truetype");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

@tailwind base;

@layer base {
  *,
  ::before,
  ::after {
    position: relative;
  }

  html {
    font-feature-settings: "ss04", "case", "zero";
    color-scheme: dark;
    overflow-x: hidden;
    line-height: 1.6;
    letter-spacing: 0.2px;
    text-wrap: pretty;

    @apply bg-gray-900 selection:bg-accent selection:text-black;

    --nav-height: 152px;
  }

  *:not(.astro-code) > code {
    @apply rounded-4 bg-gray-950 px-4 py-2 text-sm text-accent;
  }

  a {
    @apply inline-block underline decoration-accent decoration-dashed decoration-1 underline-offset-2;
  }

  a:is(:hover, :focus) {
    @apply decoration-solid decoration-2;
  }

  a:focus-visible {
    @apply bg-accent font-bold text-black outline-0 ring-2 ring-accent;
  }

  a:focus-visible:has(img) {
    @apply rounded-8 ring-4;
  }
}

@tailwind components;

@layer components {
  .geo-canvas {
    image-rendering: pixelated;
  }
}

@tailwind utilities;

@layer utilities {
  .nobr {
    white-space: nowrap;
  }
}

/* Lenis */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
