@font-face {
  font-family: Space Grotesk Variable;
  src: url(./fonts/SpaceGrotesk[wght].woff2) format("woff2"),
    url(./fonts/SpaceGrotesk[wght].ttf) format("truetype");
  font-weight: 100 700;
  font-style: normal;
}

@tailwind base;
@tailwind components;

*,
::before,
::after {
  position: relative;
}

html {
  font-feature-settings: "ss04", "case", "zero";
  color-scheme: dark;
  overflow-x: hidden;
  scroll-behavior: smooth;
  @apply bg-gray-900;
}

a {
  @apply underline decoration-dashed underline-offset-2 decoration-1;
}

.nobr {
  white-space: nowrap;
}

@tailwind utilities;
