@font-face {
  font-family: Space Grotesk Variable;
  src: url(./fonts/SpaceGrotesk[wght].woff2) format("woff2"),
    url(./fonts/SpaceGrotesk[wght].ttf) format("truetype");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;

*,
::before,
::after {
  position: relative;
}

html {
  font-feature-settings: "ss04", "case", "zero";
  color-scheme: dark;
  overflow-x: hidden;
  line-height: 1.6;
  letter-spacing: 0.2px;

  @apply bg-gray-900 selection:bg-accent selection:text-black;

  --nav-height: 152px;
}

code {
  @apply rounded-4 bg-gray-950 px-4 py-2 text-sm text-accent;
}

a {
  @apply inline-block underline decoration-accent decoration-dashed decoration-1 underline-offset-2;
}

a:is(:hover, :focus) {
  @apply decoration-solid decoration-2;
}

a:focus-visible {
  @apply bg-accent font-bold text-black outline-0 ring-2 ring-accent;
}

a:focus-visible:has(img) {
  @apply rounded-8 ring-4;
}

.blog-content p:not(:last-child) {
  @apply pb-16;
}

.blog-content strong {
  @apply font-semibold;
}

.blog-content h2 {
  @apply mb-16 mt-64 text-3xl font-bold;
}

.blog-content h3 {
  @apply mb-16 mt-64 text-2xl font-bold;
}

.geo-canvas {
  image-rendering: pixelated;
}

.nobr {
  white-space: nowrap;
}

/* Lenis */
html.lenis {
  height: auto;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

@tailwind utilities;
