---
import type { AstroInstance } from "astro";
import Layout from "@/layouts/Layout.astro";

let allPosts: AstroInstance[] = [];
try {
  allPosts = await Astro.glob("./blog/*.astro");
} catch (e) {}

const getFileName = (url: string | undefined) => {
  if (!url) return "";
  return url.split("/").at(-1)?.replace(".astro", "");
};
---

<Layout title="Blog" description="">
  <h2 class="mb-16 text-4xl font-bold">Articles</h2>
  {
    allPosts.length > 0 ? (
      allPosts.map((post: any) => (
        <li class="mb-16">
          <a href={`/blog/${getFileName(post.url)}`}>{post.frontmatter.title}</a>
        </li>
      ))
    ) : (
      <p class="mb-16 font-mono italic">— No articles, yet.</p>
    )
  }
  <p>
    In the meantime, you can visit <a href="https://rootenginear.gitbook.io/blog/"
      >the old blog here</a
    >.
  </p>
</Layout>
