---
import Layout from "../layouts/Layout.astro";

import TechnologicalSkills from "../sections/technological-skills.astro";
import WorkExperiences from "../sections/work-experiences.astro";
import Achievements from "../sections/achievements.astro";
import SideProjects from "../sections/side-projects.astro";
import Education from "../sections/education.astro";
import RandomFacts from "../sections/random-facts.astro";
---

<Layout
  title="Suthep Chanchuphol"
  description="My expertise is about crafting pixel-perfect websites from designs. With my experiences, I'm ready to take challenges and make exquisite websites for people."
  marginTop
>
  <nav slot="secondary-nav" class="flex flex-1 flex-col items-end md:justify-end">
    <div class="w-max bg-gray-900 text-xs text-gray-400 md:order-2 md:text-sm">
      headings
    </div>
    <menu class="text-sm md:text-base">
      <li class="ml-auto w-max bg-gray-900">
        <a href="#technological-skills">Technological Skills</a>
      </li>
      <li class="ml-auto w-max bg-gray-900">
        <a href="#work-experiences">Work Experiences</a>
      </li>
      <li class="ml-auto w-max bg-gray-900">
        <a href="#achievements">Achievements</a>
      </li>
      <li class="ml-auto w-max bg-gray-900">
        <a href="#side-projects">Side Projects</a>
      </li>
      <li class="ml-auto w-max bg-gray-900">
        <a href="#education">Education</a>
      </li>
    </menu>
  </nav>

  <TechnologicalSkills />
  <WorkExperiences />
  <Achievements />
  <SideProjects />
  <Education />
  <RandomFacts />
</Layout>
