---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="text-lg font-bold">Lorem Ipsum Dolor Sit Amet</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore perspiciatis
      possimus distinctio, molestias quibusdam eligendi totam autem quo doloremque est
      ipsa. Sequi doloremque distinctio molestiae tempora dolore nesciunt nisi porro.
    </p>
  </main>
</Layout>
