<menu class="text-sm md:text-base">
  <li class="w-max bg-gray-900 md:ml-auto"><a href="/">Home</a></li>
  <li class="w-max bg-gray-900 md:ml-auto"><a href="/blog">Blog</a></li>
  <li class="w-max bg-gray-900 md:ml-auto">
    <a href="/#side-projects">Projects</a>
  </li>
  <li class="w-max bg-gray-900 md:ml-auto">
    <a
      href="https://rootenginear.github.io/bta-mods"
      target="_blank"
      rel="nofollow noopener noreferrer">BTA Mods</a
    >
  </li>
</menu>
