<section id="achievements" class="mb-16 scroll-mt-[20vh] md:mb-32 md:scroll-mt-64">
  <h2 class="mb-16 text-4xl font-bold">Achievements</h2>
  <article class="mb-16">
    <h3 class="mb-4 text-xl font-medium">
      IBM Certified Associate Developer in Quantum Computation using Qiskit v0.2x
    </h3>
    <p class="mb-4">
      I began studying quantum computing in my 3<sup>rd</sup> year of undergraduate studies,
      and I&apos;ve been using the Qiskit library ever since. It allows me to experiment and
      learn about the mysterious world of quantum computing. The fact that I was given a certificate
      voucher by IBM to take this exam is a great opportunity. I&apos;ve learned a lot more
      about Qiskit, and thanks to my determination, I was able to demonstrate my understanding
      on this test and pass. This will be the first step in my quantum computing journey, and
      I can&apos;t wait to get started on the next one!
    </p>
    <footer class="text-sm">
      — <time datetime="2021-11-03T17:00:00.000Z">November 4, 2021</time> | <a
        class="underline"
        href="https://www.credly.com/badges/a27f9afe-1728-4784-abc8-4a97ee3b794b/public_url"
        target="_blank"
        rel="nofollow noopener noreferrer">View on Credly</a
      >
    </footer>
  </article>
  <article>
    <h3 class="mb-4 text-xl font-medium">
      Outstanding Award in 18<sup>th</sup> Young Webmaster Camp
    </h3>
    <p class="mb-4">
      I have participated in the 18<sup>th</sup> Young Webmaster Camp as a web programmer.
      Working as part of a team with people from different fields has taught me a lot of valuable
      lessons. I&apos;ve learned to truly understand the problem at its core and collaborate
      with people from various backgrounds, skill sets, and problems. My team has gotten along
      smoothly, and we&apos;ve been fighting since the day we first met. In the end, we won
      the &ldquo;Outstanding Award&rdquo;, the &ldquo;Best Teamwork Award&rdquo;, and the &ldquo;Best
      Web Programming Award&rdquo;. This is going to be a memorable moment for me.
    </p>
    <footer class="text-sm">
      — <time datetime="2021-08-14T17:00:00.000Z">August 15, 2021</time> | <a
        class="underline"
        href="https://www.facebook.com/ywcth/"
        target="_blank"
        rel="nofollow noopener noreferrer">Visit event Facebook page</a
      >
    </footer>
  </article>
</section>
