<section id="education" class="mb-16 scroll-mt-[--nav-height] md:mb-32 md:scroll-mt-64">
  <h2 class="mb-8 text-4xl font-bold">Education</h2>
  <ul class="ml-list list-disc marker:text-accent">
    <li>
      <p>
        <span class="font-bold">
          King Mongkut&apos;s University of Technology Thonburi
        </span><br />
        Bachelor of Engineering (Computer Engineering)
      </p>
    </li>
    <li>
      <p>
        <span class="font-bold">Benchamaracharungsarit School</span><br />
        High school, Intensive English Program
      </p>
    </li>
  </ul>
  <h3 class="my-8 text-xl font-bold">Languages</h3>
  <ul class="ml-list list-disc marker:text-accent">
    <li><span class="font-bold">Thai:</span> Native speaker</li>
    <li><span class="font-bold">English:</span> Intermediate (TOEIC&reg; 955/990)</li>
  </ul>
</section>
