<section id="education" class="mb-16 scroll-mt-[20vh] md:mb-32 md:scroll-mt-64">
  <h2 class="mb-8 text-4xl font-bold">Education</h2>
  <ul class="ml-1rem list-disc marker:text-accent">
    <li>
      <p>
        <span class="font-bold">
          King Mongkut&apos;s University of Technology Thonburi
        </span><br />
        Studying bachelor&apos;s degree. Majoring in computer engineering.
      </p>
    </li>
    <li>
      <p>
        <span class="font-bold"> Benchamaracharungsarit School</span><br />
        Studying Intensive English Program (IEP)
      </p>
    </li>
  </ul>
</section>
