<section
  id="other-projects"
  class="mb-16 scroll-mt-[--nav-height] md:mb-32 md:scroll-mt-64"
>
  <h2 class="mb-32 text-4xl font-bold">Other Projects</h2>
  <article class="mb-32">
    <a
      href="https://rootenginear.github.io/tpc-course-planner"
      target="_blank"
      rel="nofollow noopener noreferrer"
    >
      <img
        class="mb-16 inline-block aspect-video h-auto w-full max-w-[400px] rounded-8 object-contain"
        src="./img/projects/tpc-course-planner.webp"
        alt=""
        width="400"
        height="225"
        loading="lazy"
        decoding="async"
        title="Two Point Campus Course Planner"
      />
    </a>
    <h3 class="mb-4 text-xl font-medium">
      Two Point Campus Course Planner
      <span class="text-sm font-normal">
        (<a
          href="https://rootenginear.github.io/tpc-course-planner"
          target="_blank"
          rel="nofollow noopener noreferrer"><span class="sr-only">Go to</span>Website</a
        >, <a
          href="https://github.com/rootEnginear/tpc-course-planner"
          target="_blank"
          rel="nofollow noopener noreferrer"
          ><span class="sr-only">Open the repository on</span>GitHub</a
        >)
      </span>
    </h3>
    <p>
      This tool will help you to plan your perfect course combination for your campus.
      This is done with a simple mathematical calculation. In practice, however, you might
      have to fight with your timetable scheduler.
    </p>
  </article>

  <article class="mb-32">
    <a
      href="https://rootenginear.github.io/25th-parliament-meeting"
      target="_blank"
      rel="nofollow noopener noreferrer"
    >
      <img
        class="mb-16 inline-block aspect-video h-auto w-full max-w-[400px] rounded-8 object-contain"
        src="./img/projects/25th-parliament-meetings.webp"
        alt=""
        width="400"
        height="225"
        loading="lazy"
        decoding="async"
        title="25th Parliament Meetings"
      />
    </a>
    <h3 class="mb-4 text-xl font-medium">
      25<sup>th</sup> Parliament Meetings
      <span class="text-sm font-normal">
        (<a
          href="https://rootenginear.github.io/25th-parliament-meeting"
          target="_blank"
          rel="nofollow noopener noreferrer"><span class="sr-only">Go to</span>Website</a
        >, <a
          href="https://github.com/rootEnginear/25th-parliament-meeting"
          target="_blank"
          rel="nofollow noopener noreferrer"
          ><span class="sr-only">Open the repository on</span>GitHub</a
        >)
      </span>
    </h3>
    <p>
      A collection of meeting records from the 25<sup>th</sup> parliament (also known as the
      Prayuth period). This solves the searching problem on the Parliament website, so you
      can find any meeting records faster.
    </p>
  </article>

  <article class="mb-32">
    <a
      href="https://rootenginear.github.io/my-common-patterns"
      target="_blank"
      rel="nofollow noopener noreferrer"
    >
      <img
        class="mb-16 inline-block aspect-video h-auto w-full max-w-[400px] rounded-8 object-contain"
        src="./img/projects/my-common-patterns.webp"
        alt=""
        width="400"
        height="225"
        loading="lazy"
        decoding="async"
        title="My Common Patterns"
      />
    </a>
    <h3 class="mb-4 text-xl font-medium">
      My Common Patterns
      <span class="text-sm font-normal">
        (<a
          href="https://rootenginear.github.io/my-common-patterns"
          target="_blank"
          rel="nofollow noopener noreferrer"><span class="sr-only">Go to</span>Website</a
        >, <a
          href="https://github.com/rootEnginear/my-common-patterns"
          target="_blank"
          rel="nofollow noopener noreferrer"
          ><span class="sr-only">Open the repository on</span>GitHub</a
        >)
      </span>
    </h3>
    <p>My personal &ldquo;frequently copy&rdquo; code snippets and patterns.</p>
  </article>

  <article>
    <a
      href="https://github.com/rootEnginear/libraries-i-used-review"
      target="_blank"
      rel="nofollow noopener noreferrer"
    >
      <img
        class="mb-16 inline-block aspect-video h-auto w-full max-w-[400px] rounded-8 object-contain"
        src="./img/projects/lib-reviews.webp"
        alt=""
        width="400"
        height="225"
        loading="lazy"
        decoding="async"
        title="Libraries (that I have used) Review"
      />
    </a>
    <h3 class="mb-4 text-xl font-medium">
      Libraries (that I have used) Review
      <span class="text-sm font-normal">
        (<a
          href="https://github.com/rootEnginear/libraries-i-used-review"
          target="_blank"
          rel="nofollow noopener noreferrer"
          ><span class="sr-only">Read it on</span>GitHub</a
        >)
      </span>
    </h3>
    <p>
      My subjective review on libraries I have used and what I have experienced from them.
    </p>
  </article>
</section>
