<section id="random-facts">
  <h2 class="mb-8 text-4xl font-bold">Random Facts</h2>
  <p class="mb-8">
    Since you&apos;ve scrolled until the end, here are some random facts about me for you!
  </p>
  <ul class="ml-1rem list-disc marker:text-accent">
    <li>
      According to wizardingworld.com, I was sorted into Gryffindor, but I personally feel
      like Hufflepuff suits me better.
    </li>
    <li>
      I used to be a member of my university&apos;s choir. My vocal range is D2&ndash;D5.
    </li>
    <li>
      I love coffee. I once drank liters of it before throwing up terribly. Well,
      fortunately, I didn&apos;t have to go to the hospital or anything. I just survived
      that caffeine dosage.
    </li>
    <li>
      I used to be in a marching band in high school as a color guard. Yub, I used to be
      able to do a split but I don&apos;t think I can anymore.
    </li>
    <li>
      I learned how to code for the first time when I was in 4<sup>th</sup> grade. I began
      learning to write Visual Basic scripts in Microsoft Excel (aka the VBA). I didn&apos;t
      even know what is the difference between a string and an integer at that time. But learning
      from trial and errors worked out for me (or should I say &ldquo;If it worked, don&apos;t
      touch.&rdquo; worked for me).
    </li>
  </ul>
</section>
