<section
  id="technological-skills"
  class="mb-16 scroll-mt-[--nav-height] md:mb-32 md:scroll-mt-64"
>
  <h2 class="mb-8 text-4xl font-bold">Technological Skills</h2>
  <div class="grid grid-cols-2 gap-16 md:grid-cols-2 xl:grid-cols-4">
    <div>
      <h3 class="mb-4 text-xl font-medium">Proficient</h3>
      <ul class="ml-1rem list-disc marker:text-accent">
        <li>HTML & CSS</li>
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>Svelte</li>
      </ul>
    </div>
    <div>
      <h3 class="mb-4 text-xl font-medium">Experienced</h3>
      <ul class="ml-1rem list-disc marker:text-accent">
        <li>Vue.js</li>
        <li>React.js (Next.js)</li>
        <li>SCSS</li>
        <li>Git</li>
      </ul>
    </div>
    <div>
      <h3 class="mb-4 text-xl font-medium">Familiar</h3>
      <ul class="ml-1rem list-disc marker:text-accent">
        <li>Firebase</li>
        <li>SQL, RDBMS (MySQL, MariaDB)</li>
        <li>Node.js</li>
      </ul>
    </div>
    <div>
      <h3 class="mb-4 text-xl font-medium">Other Interests</h3>
      <ul class="ml-1rem list-disc marker:text-accent">
        <li>UI/UX</li>
        <li>Artificial Intelligences</li>
        <li>Quantum Computing</li>
      </ul>
    </div>
  </div>
</section>
