<section
  id="technological-skills"
  class="mb-16 scroll-mt-[--nav-height] md:mb-32 md:scroll-mt-64"
>
  <h2 class="mb-16 text-4xl font-bold">Technological Skills</h2>
  <div class="mb-4 grid grid-cols-2 gap-16 md:grid-cols-2 xl:grid-cols-4">
    <div>
      <h3 class="mb-4 text-xl font-bold">Proficient</h3>
      <ul class="ml-list list-disc marker:text-accent">
        <li>HTML &amp; CSS</li>
        <li>JavaScript &amp; TypeScript</li>
        <li>Svelte</li>
      </ul>
    </div>
    <div>
      <h3 class="mb-4 text-xl font-bold">Experienced</h3>
      <ul class="ml-list list-disc marker:text-accent">
        <li>React.js (Next.js)</li>
        <li>Tailwindcss</li>
        <li>Git</li>
      </ul>
    </div>
    <div>
      <h3 class="mb-4 text-xl font-bold">Familiar</h3>
      <ul class="ml-list list-disc marker:text-accent">
        <li>Node.js</li>
        <li>Python</li>
      </ul>
    </div>
    <div>
      <h3 class="mb-4 text-xl font-bold">Other Interests</h3>
      <ul class="ml-list list-disc marker:text-accent">
        <li>UI/UX</li>
        <li>Data Visualization</li>
        <li>Quantum Computing</li>
      </ul>
    </div>
  </div>
  <h3 class="font-bold">Well, can you do&hellip;</h3>
  <ul class="ml-list list-disc marker:text-accent">
    <li>
      <span class="font-medium">X Framework?</span> I've used React, Vue, Svelte, Solid, Qwik,
      Astro. It has become my nature to slither around frameworks.
    </li>
    <li>
      <span class="font-medium">Data Visualization?</span> If you mean D3.js, yes, I have some
      before. Nowadays <code class="nobr">&lt;div&gt;</code> is just enough.
    </li>
    <li>
      <span class="font-medium">Web Scraping?</span> I have once downed the parliament website,
      so, yes.
    </li>
    <li>
      <span class="font-medium">Data Engineering?</span> I normally use Node.js to do them
      (because it's more familiar with me) but I'm open to Python.
    </li>
    <li>
      <span class="font-medium">Database?</span> NocoDB (not a real database), Firebase, MariaDB,
      MySQL, MongoDB
      <small class="font-normal">(sorted by lastest time interacted)</small>
    </li>
    <li>
      <span class="font-medium">Backend?</span> I can run a simple REST API server with Express.js.
    </li>
    <li>
      <span class="font-medium">Docker?</span> I can run <code
        >docker compose up <span class="nobr">-d</span></code
      >.
    </li>
    <li>
      <span class="font-medium">Graphic Design?</span> Not much, but I prefer brutalism, minimalism
      though.
    </li>
  </ul>
</section>
