<section
  id="work-experiences"
  class="mb-16 scroll-mt-[--nav-height] md:mb-32 md:scroll-mt-64"
>
  <h2 class="mb-8 text-4xl font-bold">Work Experiences</h2>
  <p>*Boop* Coming Soon!</p>
</section>
