<section
  id="work-experiences"
  class="mb-16 scroll-mt-[--nav-height] md:mb-32 md:scroll-mt-64"
>
  <h2 class="mb-16 text-4xl font-bold">Work Experiences</h2>

  <article class="mb-16">
    <h3 class="text-xl font-medium">
      Web Developer (Full-time) <span class="text-base font-normal"
        >at <a
          href="https://punchup.world/"
          target="_blank"
          rel="nofollow noopener noreferrer">Punch Up</a
        ></span
      >
    </h3>
    <p class="mb-4">
      <time datetime="2022-09-18T17:00:00.000Z">September 19, 2022</time
      >&nbsp;&ndash;&nbsp;<time datetime={new Date().toISOString()}>Present</time>
    </p>
    <ul class="mb-4 ml-list list-disc marker:text-accent">
      <li>
        Communicate with the project manager and designer to achieve the goal effectively
      </li>
      <li>Clean, process, and integrate the data into the project efficiently</li>
      <li>Craft, and optimize a website with pixel-perfect detail</li>
      <li>Assist other coworkers with their problems</li>
      <li>Be humorous and funny around my coworker!</li>
    </ul>
    <h4 class="mb-4 text-lg font-medium">Projects:</h4>
    <article class="border-l-2 border-l-gray-700 py-8 pl-16">
      <a
        href="https://wevis.info/law-watch"
        target="_blank"
        rel="nofollow noopener noreferrer"
      >
        <img
          class="mb-8 inline-block aspect-video h-auto w-full max-w-[400px] rounded-8 object-cover"
          src="https://wevis.info/law-watch/og.png"
          alt=""
          width="400"
          height="225"
          loading="lazy"
          decoding="async"
          title="Law Watch"
        />
      </a>
      <h5 class="font-medium">
        Law Watch
        <span class="text-sm font-normal">
          (<a
            href="https://wevis.info/law-watch"
            target="_blank"
            rel="nofollow noopener noreferrer"
            ><span class="sr-only">Go to</span>Website</a
          >)
        </span>
      </h5>
      <p class="text-sm">What laws do our MPs propose and/or vote on?</p>
    </article>
  </article>

  <article class="mb-16">
    <h3 class="text-xl font-medium">
      Web Developer (Intern) <span class="text-base font-normal"
        >at <a
          href="https://wevis.info/"
          target="_blank"
          rel="nofollow noopener noreferrer">WeVis</a
        ></span
      >
    </h3>
    <p class="mb-4">
      <time datetime="2022-04-30T17:00:00.000Z">May 01, 2022</time
      >&nbsp;&ndash;&nbsp;<time datetime="2022-08-25T17:00:00.000Z">August 26, 2022</time>
    </p>
    <ul class="mb-4 ml-list list-disc marker:text-accent">
      <li>
        Showed major events in the Thai parliament by creating a website, making them more
        apparent and insightful to the public
      </li>
      <li>Choreographed animations on the website</li>
      <li>Assisted the team in content and design</li>
    </ul>
    <h4 class="mb-4 text-lg font-medium">Project:</h4>
    <article class="border-l-2 border-l-gray-700 py-8 pl-16">
      <a
        href="https://wevis.info/parliament-in-a-nutshell"
        target="_blank"
        rel="nofollow noopener noreferrer"
      >
        <img
          class="mb-8 inline-block aspect-video h-auto w-full max-w-[400px] rounded-8 object-cover"
          src="https://wevis.info/parliament-in-a-nutshell/og.jpg"
          alt=""
          width="400"
          height="225"
          loading="lazy"
          decoding="async"
          title="สรุปสั้นสภาไทย (Thai Parliament in a Coconutshell)"
        />
      </a>
      <h5 class="font-medium">
        Thai Parliament in a (Coco)Nutshell
        <span class="text-sm font-normal">
          (<a
            href="https://wevis.info/parliament-in-a-nutshell"
            target="_blank"
            rel="nofollow noopener noreferrer"
            ><span class="sr-only">Go to</span>Website</a
          >)
        </span>
      </h5>
      <p class="text-sm">
        Retracing many phenomena and movements from changes in the seats of the Thai House
        of Representatives since the opening of the House of Representatives in May 2019.
      </p>
    </article>
  </article>

  <article>
    <h3 class="text-xl font-medium">
      Junior Software Engineer (Intern) <span class="text-base font-normal"
        >at <a
          href="https://cleverse.com/"
          target="_blank"
          rel="nofollow noopener noreferrer">Cleverse</a
        ></span
      >
    </h3>
    <p class="mb-4">
      <time datetime="2021-05-30T17:00:00.000Z">May 31, 2021</time
      >&nbsp;&ndash;&nbsp;<time datetime="2021-07-29T17:00:00.000Z">July 30, 2021</time>
    </p>
    <ul class="mb-4 ml-list list-disc marker:text-accent">
      <li>
        Increased users' retention rate by working on the notification feature of the
        product
      </li>
      <li>Created and optimized a landing page for the product</li>
      <li>
        Learned and incorporated search engine optimization for the product information
        pages
      </li>
    </ul>
    <p class="text-sm">
      <span class="font-bold">Note:</span> Because of the confidentiality of the project, the
      information is limited.
    </p>
  </article>
</section>
