<section
  id="achievements"
  class="mb-16 scroll-mt-[--nav-height] md:mb-32 md:scroll-mt-64"
>
  <h2 class="mb-16 text-4xl font-bold">Achievements</h2>
  <article class="mb-16 flex gap-16">
    <div class="flex-1">
      <h3 class="text-balance mb-8 text-xl font-medium">
        IBM Certified Associate Developer in Quantum Computation using Qiskit v0.2x
      </h3>
      <footer class="text-sm">
        — <time datetime="2021-11-03T17:00:00.000Z">November 4, 2021</time> | <a
          class="underline"
          href="https://www.credly.com/badges/a27f9afe-1728-4784-abc8-4a97ee3b794b/public_url"
          target="_blank"
          rel="nofollow noopener noreferrer">View on Credly</a
        >
      </footer>
    </div>
    <img
      class="hidden object-contain md:block"
      src="./img/qiskit-badge.webp"
      alt=""
      width="150"
      height="150"
      loading="lazy"
      decoding="async"
      title="IBM Certified Associate Developer in Quantum Computation using Qiskit v0.2x"
    />
  </article>
  <article class="mb-16 flex gap-16">
    <div class="flex-1">
      <h3 class="text-balance mb-4 text-xl font-medium">
        Outstanding Award in 18<sup>th</sup> Young Webmaster Camp
      </h3>
      <ul class="mb-8 ml-list list-disc marker:text-accent">
        <li>Outstanding Award</li>
        <li>Best Teamwork Award</li>
        <li>Best Web Programming Award</li>
      </ul>
      <footer class="text-sm">
        — <time datetime="2021-08-14T17:00:00.000Z">August 15, 2021</time> | <a
          class="underline"
          href="https://www.facebook.com/ywcth/"
          target="_blank"
          rel="nofollow noopener noreferrer">Visit event Facebook page</a
        >
      </footer>
    </div>
    <img
      class="hidden object-contain md:block"
      src="./img/ywc18.webp"
      alt=""
      width="150"
      height="150"
      loading="lazy"
      decoding="async"
      title="Outstanding Award in 18th Young Webmaster Camp"
    />
  </article>
</section>
