---
import ProjectCard from "@/components/ProjectCard.astro";
---

<section
  id="work-experiences"
  class="mb-16 scroll-mt-[--nav-height] md:mb-32 md:scroll-mt-64"
>
  <h2 class="mb-16 text-4xl font-bold">Work Experiences</h2>

  <article class="mb-16">
    <h3 class="text-xl font-medium">
      Web Developer (Full-time) <span class="nobr text-base font-normal"
        >at <a
          href="https://punchup.world/"
          target="_blank"
          rel="nofollow noopener noreferrer">Punch Up</a
        ></span
      >
    </h3>
    <p class="mb-4">
      <time datetime="2022-09-18T17:00:00.000Z">September 19, 2022</time
      >&nbsp;&ndash;&nbsp;<time datetime={new Date().toISOString()}>Present</time>
    </p>
    <ul class="mb-4 ml-list list-disc marker:text-accent">
      <li>
        Communicate with the project manager and designer to achieve the goal effectively
      </li>
      <li>Clean, process, and integrate the data into the project efficiently</li>
      <li>Craft, and optimize a website with pixel-perfect detail</li>
      <li>Assist other coworkers with their problems, and be humorous around them!</li>
    </ul>
    <section>
      <h4 class="mb-4 text-lg font-medium">Projects:</h4>
      <ProjectCard
        title="Taxation"
        description="Proposals for a fair and effective taxation."
        src="https://theactive.net/dataviz/taxation/og.jpg"
        website="https://theactive.net/dataviz/taxation/"
      />
      <ProjectCard
        title="ACT Ai Politics Data"
        description="Look up and examine the transparency of politicians and government officials."
        src="https://poldata.actai.co/og.png"
        website="https://poldata.actai.co/"
        github="https://github.com/ACT-Anti-Corruption-Thailand/corrupt0"
      />
      <ProjectCard
        title="Senate"
        description="Find out the story of the NCPO's succession of power through a mechanism that empowers senators to determine the direction of Thai politics, which may render the election's result meaningless."
        src="https://wevis.info/senate/og.png"
        website="https://wevis.info/senate"
        github="https://github.com/wevisdemo/senate"
      />
      <ProjectCard
        title="Home & Hope"
        description="Explore the hopes and realities of accessing a “home” in the city."
        src="https://thevisual.thaipbs.or.th/projects/HomeAndHope/og.png"
        website="https://thevisual.thaipbs.or.th/HomeAndHope"
      />
      <ProjectCard
        title="โรงเรียนโปร่งใส (School Governance)"
        description="Let's exchange ideas to develop the school together!"
        src="http://schoolgov.actai.co/og.png"
        website="https://schoolgov.actai.co/"
        github="https://github.com/ACT-Anti-Corruption-Thailand/school-governance"
      />
      <ProjectCard
        title="Law Watch"
        description="What laws do our MPs propose and/or vote on?"
        src="https://wevis.info/law-watch/og.png"
        website="https://wevis.info/law-watch"
        github="https://github.com/wevisdemo/law-watch"
      />
    </section>
  </article>

  <article class="mb-16">
    <h3 class="text-xl font-medium">
      Web Developer (Intern) <span class="nobr text-base font-normal"
        >at <a
          href="https://wevis.info/"
          target="_blank"
          rel="nofollow noopener noreferrer">WeVis</a
        ></span
      >
    </h3>
    <p class="mb-4">
      <time datetime="2022-04-30T17:00:00.000Z">May 01, 2022</time
      >&nbsp;&ndash;&nbsp;<time datetime="2022-08-25T17:00:00.000Z">August 26, 2022</time>
    </p>
    <ul class="mb-4 ml-list list-disc marker:text-accent">
      <li>
        Showed major events in the Thai parliament by creating a website, making them more
        apparent and insightful to the public
      </li>
      <li>Choreographed animations on the website</li>
      <li>Assisted the team in content and design</li>
    </ul>
    <section>
      <h4 class="mb-4 text-lg font-medium">Project:</h4>
      <ProjectCard
        title="สรุปสั้นสภาไทย (Thai Parliament in a Coconutshell)"
        description="Retracing many phenomena and movements from changes in the seats of the Thai House of Representatives since the opening of the House of Representatives in May 2019."
        src="https://wevis.info/parliament-in-a-nutshell/og.jpg"
        website="https://wevis.info/parliament-in-a-nutshell"
        github="https://github.com/wevisdemo/parliament-in-a-nutshell"
      />
    </section>
  </article>

  <article>
    <h3 class="text-xl font-medium">
      Junior Software Engineer (Intern) <span class="nobr text-base font-normal"
        >at <a
          href="https://cleverse.com/"
          target="_blank"
          rel="nofollow noopener noreferrer">Cleverse</a
        ></span
      >
    </h3>
    <p class="mb-4">
      <time datetime="2021-05-30T17:00:00.000Z">May 31, 2021</time
      >&nbsp;&ndash;&nbsp;<time datetime="2021-07-29T17:00:00.000Z">July 30, 2021</time>
    </p>
    <ul class="mb-4 ml-list list-disc marker:text-accent">
      <li>
        Increased users' retention rate by working on the notification feature of the
        product
      </li>
      <li>Created and optimized a landing page for the product</li>
      <li>
        Learned and incorporated search engine optimization for the product information
        pages
      </li>
    </ul>
    <p class="text-sm">
      <span class="font-bold">Note:</span> Because of the confidentiality of the project, the
      information is limited.
    </p>
  </article>
</section>
