<section id="random-facts">
  <h2 class="mb-8 text-4xl font-bold">Random Facts</h2>
  <p class="mb-8">
    Since you&apos;ve scrolled until the end, here are some random facts about me for you!
  </p>
  <ul class="ml-list list-disc marker:text-accent">
    <li>
      According to wizardingworld.com, I was sorted into <img
        class="-top-2 inline-block"
        src="/img/gryffindor.webp"
        alt=""
        width="16"
        height="16"
        loading="lazy"
        decoding="async"
      /> Gryffindor, but I personally feel like I&apos;m more of a <img
        class="-top-2 inline-block"
        src="/img/hufflepuff.webp"
        alt=""
        width="16"
        height="16"
        loading="lazy"
        decoding="async"
      /> Hufflepuff.
    </li>
    <li>
      I used to be a member of my university&apos;s choir. My vocal range is D2&ndash;D5.
    </li>
    <li>
      I love coffee. I once drank it so much that I threw up terribly. Fortunately, I
      didn&apos;t have to go to the hospital — I just survived that caffeine dosage.
    </li>
    <li>
      I was a color guard in my high school band. Yub, I used to be somewhat flexible, but
      nowadays my back just screams.
    </li>
    <li>
      I coded for the first time when I was in 4<sup>th</sup> grade. I learned to write Visual
      Basic code in Microsoft Excel (aka the infamous VBA). Back then, I didn&apos;t even know
      the differences between a string and an integer. But eventually, learning from trials
      and errors worked out for me.
    </li>
  </ul>
</section>
