---
import { clsx } from "clsx";

import App3d from "@/components/App3d";
import AppEmail from "@/components/AppEmail";
import AppMainNav from "@/components/AppMainNav.astro";
import Root from "./Root.astro";

export interface Props {
  title?: string;
  description?: string;
  marginTop?: boolean;
}

const { title, description, marginTop } = Astro.props;
---

<Root title={title} description={description}>
  <header
    class="z-10 flex h-svh flex-col items-start justify-between gap-16 p-16 md:fixed md:inset-0 md:right-auto md:p-32"
  >
    <div>
      <div class="text-xs text-gray-400 md:text-sm" aria-hidden="true">
        name & position
      </div>
      <h1 class="bg-gray-900 text-4xl font-bold md:mb-8 md:text-5xl">
        Suthep Chanchuphol
      </h1>
      <p>
        <img
          class="inline-block align-baseline"
          src="/favicon-16x16.png"
          srcset="/favicon-16x16.png 1x, /favicon-32x32.png 2x"
          alt=""
          width="16"
          height="16"
          loading="eager"
          decoding="async"
        />
        Software Engineer at <a
          href="https://www.softnetics.tech/"
          target="_blank"
          rel="nofollow noopener noreferrer">Softnetics</a
        >
      </p>
    </div>
    <App3d />
    <div>
      <ul class="text-sm md:text-base">
        <li>Bangkok, Thailand</li>
        <li><AppEmail /></li>
        <li>
          <a
            href="https://github.com/rootEnginear"
            target="_blank"
            rel="nofollow noopener noreferrer">GitHub</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/rootenginear/"
            target="_blank"
            rel="nofollow noopener noreferrer">LinkedIn</a
          >
        </li>
      </ul>
      <div class="text-xs text-gray-400 md:text-sm" aria-hidden="true">
        quick information
      </div>
    </div>
  </header>

  <div
    class="sticky top-0 z-10 -mt-16 pointer-events-none flex justify-between p-16 md:fixed md:inset-0 md:left-auto md:mt-0 md:flex-col md:p-32"
  >
    <nav class="flex-1">
      <div class="pointer-events-auto w-max bg-gray-900 text-xs text-gray-400 md:ml-auto md:text-sm">
        main navigation
      </div>
      <AppMainNav />
    </nav>
    <slot name="secondary-nav" />
  </div>

  <main
    class={clsx(
      "ml-16 max-w-[80ch] border-l-2 border-dashed border-l-white p-16 md:ml-[364px] md:p-32 lg:ml-[564px]",
      marginTop ? "md:mt-svh" : "md:mt-[--nav-height] lg:mt-64"
    )}
  >
    <slot />
  </main>

  <footer
    class="mb-32 ml-16 max-w-[80ch] pr-16 pt-32 md:mb-[30svh] md:ml-[364px] md:pr-32 lg:ml-[564px] xl:mb-[20svh]"
  >
    Copyright &copy; {new Date().getFullYear()} Suthep Chanchuphol <span class="nobr"
      >All right reserved.</span
    >
  </footer>
</Root>
